
/* Remove browser default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: red;
}

img {
    width: 100px;
}

.memory-game{

}

.memory-card{

}

.front-face{

}

.back-face{

}